/* header */
.header-page{
	padding: 35px 30px;
	background:$white;
	position: relative;
	z-index: 10;
	box-shadow: 0 3px 10px rgba($black, .15);
	.container{
		position: relative;
	}
	@include media("<desktop"){
		padding: 30px 15px;
	}
	@include media("<tablet") {
		padding: 12px 15px;
	}
}
.logo{
	float: left;
	width: 327px;
	height: 50px;
	background: url('#{$images}logo.png') no-repeat 50% 50%;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: -9999px;
	@include media("<desktop"){
		width: 234px;
		height: 45px;
	}
	@include media("<phone"){
		width: 176px;
		height: 34px;
	}
	&__link{
		display: block;
		min-height: 100%;
	}
}

.menu{
	float: right;
	display: flex;
	align-items: center;
	@include media("<tablet") {
		float: none;
		display: flex;
		align-items: initial;
		flex-flow: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 280px;
		right: -280px;
		padding: 0 12px 20px;
		background: $white;
		z-index: 100;
		transition: right .5s;
	}
	@include media("<phone") {
		width: 260px;
		right: -260px;
	}
	.btn{
		@include media("<tablet"){
			width: 100%;
			margin: 0 0 20px;
		}
	}
}
.main-nav{
	margin: 0 20px 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	@include media("<tablet") {
		margin: 0 -12px 32px;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	&__item{
		color: $black;
		display: inline-block;
		vertical-align: top;
		line-height: 50px;
		font-size: 18px;
		@include media("<tablet") {
			display: block;
			border-bottom: 1px solid rgba($black , .1);
		}
	}
	&__link{
		display: block;
		font-size: 16px;
		line-height: 50px;
		font-weight: 700;
		color: $black;
		padding: 0 15px;
		text-transform: uppercase;
		transition: all .2s;
		@include media("<desktop"){
			font-size: 15px;
			padding: 0 12px;
		}
		&:hover{
			color: $picton_blue;
		}
		&_active{
			color: $picton_blue;
		}
	}
}

.dropdown-block{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: $dusty-gray;
	text-align: left;
	@include media("<desktop"){
		font-size: 14px;
		line-height: 20px;
	}
	@include media("<tablet"){
		margin: 0;
		text-align: center;
		display: block;
	}
	&.open{
		.dropdown-block__toggle{
			color: $picton_blue;
			&:before{
				border-color: $picton_blue;
				transform: translate(0,-50%) rotate(45deg);
				margin: 0px 0 0;
			}
		}
		.dropdown-block__list{
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 5px);
			@include media("<tablet"){
				transform: translate(0, 0);
			}
		}
	}
	&__list{
		margin: 0;
		border-radius: 8px;
		padding: 5px 0;
		list-style: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		background: $white;
		box-shadow: 4px 4px 10px rgba($black, 0.05);
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 20px);
		transition: opacity .2s, visiblity .2s, transform .3s ease-in-out;
		@include media("<tablet"){
			position: relative;
			top: 0;
			display: none;
			padding: 10px 0;
			box-shadow: none;
		}
	}
	&__item{
		@include media("<tablet"){
			display: block;
			border-bottom: 1px solid rgba($black , .1);
		}
		&:first-child{
			@include media("<tablet"){
				border-top: 1px solid rgba($black , .1);
			}
		}
	}
	&__toggle{
		position: relative;
		display: block;
		padding: 0 24px 0 10px;
		transition: all .3s ease-in-out;
		@include media("<tablet"){
			padding: 0 20px;
		}
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			right: 4px;
			border-top: 1px solid transparent;
			border-left: 1px solid transparent;
			width: 6px;
			height: 6px;
			margin: -3px 0 0;
			border-color: $dusty-gray;
			transform: translate(0,-50%) rotate(225deg);
			transition: all .3s ease-in-out;
			@include media("<tablet"){
				right: 8px;
			}
		}
		&:hover{
			color: $black;
			&:before{
				border-color: $black;
			}
		}
	}
	&__link{
		display: block;
		padding: 0 10px;
		color: $dusty-gray;
		transition: color .2s;
		@include media("<tablet"){
			padding: 5px 20px;
		}
		&_active{
			color: $picton_blue;
		}
		&:hover{
			color: $picton_blue;
		}
	}
}

.open-menu{
	width: 48px;
	height: 33px;
	position: absolute;
	top: 7px;
	right: -10px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
	z-index: 100;
	@include media("<tablet") {
		display: block;
	}
	@include media("<phone") {
		top: 1px;
	}
	span{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #666;
		opacity: 1;
		left: 5px;
		border-radius: 10px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		overflow: hidden;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: auto;
			right: 0;
			bottom: 0;
			width: 0;
			background-color: #273444;
			-webkit-transition: all .3s ease-out;
			transition: all .3s ease-out;
		}
		&:nth-child(1){
			top: 6px;
			width: 25px;
			left: 12px;
		}
		&:nth-child(2),
		&:nth-child(3){
			top: 15px;
			width: 32px;
		}
		&:nth-child(4){
			top: 24px;
			width: 20px;
			left: 17px;
		}
	}
	&:hover{
		span{
			&:after{
				width: 100%;
			}
		}
	}
}

.menu-opened{
	@include media("<tablet") {
		overflow: hidden;
		.open-menu{
			span{
				&:nth-child(1){
					top: 18px;
					width: 0%;
					left: 50%;
				}
				&:nth-child(2){
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					width: 20px;
					left: 12px;
				}
				&:nth-child(3){
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					width: 20px;
					left: 12px;
				}
				&:nth-child(4){
					top: 18px;
					width: 0%;
					left: 50%;
				}
			}
		}
		.wrapper{
			margin: 0 280px 0 -280px;
			@include media("<phone") {
				margin: 0 260px 0 -260px;
			}
		}
		.menu{
			opacity: 1;
			right: 0;
		}
		.fader {
			opacity: .45;
			visibility: visible;
		}
	}
}

.fader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $dusty-gray;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;
	z-index: 75;
	cursor: pointer;
}